<footer class="border-top py-3 mt-5">
    <div class="container text-center">

        <ul class="nav justify-content-center mb-2">
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-muted small">Accueil</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-muted small">Features</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-muted small">Pricing</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-muted small">FAQs</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-muted small">À propos</a>
            </li>
        </ul>

        <p class="text-muted small mb-0">© 2026 Company</p>

    </div>
</footer>
